html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0  auto;
  font-family: Arial, Helvetica, sans-serif;
}


.game_field {
  position: relative;
  width: 75%;
  height: 500px;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  border-right: solid 1px black;
  border-bottom: solid 1px black;

}

.game_menu {
  width: 22%;
  height: 500px;
  float: left;
  padding-left: 10px;
  border-bottom: solid 1px black;
}

.game_input {
  position: absolute;
  width: 200px;
  height: 20px;
  padding: 20px;
  left: 37%;
  bottom: 0;
  margin: 0 auto;

}
